<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.wyhao.admin.system.mapper.UserRoleMapper">

  <select id="selectUserPage" resultType="top.wyhao.admin.system.model.vo.role.RoleUserResult">
    SELECT su.id,
           su.nickname,
           su.username,
           su.avatar,
           su.gender,
           su.dept_id,
           su.description,
           su.is_builtin,
           su.status,
           (SELECT name FROM sys_dept WHERE id = su.dept_id) AS deptName
    FROM sys_user AS su
    INNER JOIN sys_user_role sur ON sur.user_id = su.id
    ${ew.customSqlSegment}
    </select>
</mapper>